<a href="https://colab.research.google.com/github/jym1028z/aipython/blob/main/250926.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**파이썬 기초문법(II)**

In [21]:
# %는 나머지 연산자임. 나머지를 반환.num을 2로 나눈 나머지가 0이라면~ 이

num = int(input("숫자를 입력하세요: "))
if num % 2 == 0:
  print("짝수입니다")

# 홀수라면 위 코드가 실행되지 않기 때문에 아무것도 나오지 않음

숫자를 입력하세요: 5

if문 뒤에 짝수를 판별하는 식을 넣음

In [23]:
num = int(input("숫자를 입력하세요: "))
if num % 2 == 0:
  print("짝수입니다")
else :
  print("홀수입니다")

숫자를 입력하세요: 5
홀수입니다

**1.3. 둘 중 하나를 선택: **if-else** 문**

In [5]:
# 두 학생의 키 차이 구하기, 무조건 양수로!!!

height1 = int(input("첫 번째 학생의 키를 입력하세요: "))
height2 = int(input("두 번째 학생의 키를 입력하세요: "))
# 만약 height1이 height2보다 크다면
if height1 > height2:
# height1에서 height2를 빼서 차이를 구합니다.
  diff = height1 - height2
# 그렇지 않다면 (height2가 더 크거나 같다면)
else:
# height2에서 height1을 빼서 차이를 구합니다.
  diff = height2 - height1
  print("두 학생의 키 차이는", diff, "입니다.")

첫 번째 학생의 키를 입력하세요: 156
두 번째 학생의 키를 입력하세요: 178
두 학생의 키 차이는 22 입니다.

**1.4. 여러 개 중 하나를 선택: **if-elif-else** 문**

In [20]:
age = int(input("나이를 입력하세요: "))
fee = 5000 # 기본 입장료
# 만약 8세 미만이거나 65세 이상이라면
if age < 8 or age >= 65:
  fee = 0 # 무료
# 위의 조건이 아니고, 만약 8세 이상 14세 미만이라면
elif age >= 8 and age < 14:
  fee = fee * 0.5 # 50% 할인
# 위의 조건들이 아니고, 만약 14세 이상 19세 미만이라면
elif age >= 14 and age < 19:
  fee = fee * 0.75 # 25% 할인
# 위의 모든 조건에 해당하지 않는다면 (19세 이상 65세 미만)
else:
  fee = fee # 정상 요금
print("입장료는", int(fee), "원입니다.")

나이를 입력하세요: 7
입장료는 0 원입니다.

Q. 점수(0~100)를 입력받아서 A, B, C, D로 학점을 출력하시오

조건: A 90점 이상, B 70점 이상, C 60점 이상, D 60점 미만

In [59]:
score = int(input("당신의 점수는: "))

if score<0 or score>100 :
  print("잘못된 점수입니다. 다시 입력해 주십시오.")

elif score>=90 :
  print("학점: A")
elif score>=70 :
  print("학점: B")
elif score>=60 :
  print("학점: C")
else :
  print("학점: D")

# 중첩문으로도 가능

당신의 점수는: 79
학점: B

**2. 두 번째 슈퍼파워: 지루한 일은 컴퓨터에게! (반복 구조)**

In [66]:
sum = 0

for a in range(1, 6):
  sum = sum + a

print("1부터 5까지의 합은", sum, "입니다.")

1부터 5까지의 합은 15 입니다.

들여쓰기에 따라 반복문이 될지 안 될지 결정됨. 중요~

In [65]:
# 들여쓰기 하면 마지막 print 문이 반복문이 됨

sum = 0

for a in range(1, 6):
  sum = sum + a

  print("1부터 5까지의 합은", sum, "입니다.")

1부터 5까지의 합은 1 입니다.
1부터 5까지의 합은 3 입니다.
1부터 5까지의 합은 6 입니다.
1부터 5까지의 합은 10 입니다.
1부터 5까지의 합은 15 입니다.

In [67]:
sum = 0
for a in range(1, 101):
  sum = sum + a
print("1부터 100까지의 합은",sum,"입니다.")

1부터 100까지의 합은 5050 입니다.

In [71]:
# 1~100까지 짝수합과 홀수합을 출력하시오.

sum1 = 0 # 홀수합 저장할거임
sum2 = 0 # 짝수합 저장할거임

for a in range(0,101):
  if a%2==0:
    sum2+=a
  else :
    sum1+=a

print("짝수의 합은",sum2,"입니다.")
print("홀수의 합은",sum1,"입니다.")

짝수의 합은 2550 입니다.
홀수의 합은 2500 입니다.

In [72]:
# 1부터 100까지 짝수합 구하기
sum_even = 0
for i in range(2, 101, 2): # 2부터 시작해서 100까지 2씩 증가 (짝수만)
  sum_even += i
print("1부터 100까지 짝수의 합은", sum_even, "입니다.")

1부터 100까지 짝수의 합은 2550 입니다.

In [73]:
# 1부터 100까지 홀수합 구하기
sum_odd = 0
for i in range(1, 100, 2): # 1부터 시작해서 99까지 2씩 증가 (홀수만)
  sum_odd += i
print("1부터 100까지 홀수의 합은", sum_odd, "입니다.")

1부터 100까지 홀수의 합은 2500 입니다.

위는 range 함수를 이용해 짝수와 홀수를 나누고 반복문을 각각 써서 합을 구함. 두 코드를 같이 쓸 경우 sum 변수를 초기화 해줘야 함

**2.3. 특정 조건이 만족될 때까지 반복: **while** 문**

In [85]:
sum = 0
money = 100
day = 1

while sum < 50000:
  sum += money
  money += 100
  day += 1

print("총", day, "일이 걸립니다.")

총 33 일이 걸립니다.

Q. 숫자 입력받아서 총합을 수하는 프로그램을 작성하시오. 단 0을 입력하면 종료되고 최종 총합을 출력한다.

In [90]:
sum=0
n=int(input("총합을 구할 숫자를 정수로 입력하시오."))

while n != 0:
  sum+=n
  n=int(input("총합을 구할 숫자를 정수로 입력하시오."))

print("총합은",sum,"입니다.")

총합을 구할 숫자를 정수로 입력하시오.4
총합을 구할 숫자를 정수로 입력하시오.5
총합을 구할 숫자를 정수로 입력하시오.7
총합을 구할 숫자를 정수로 입력하시오.0
총합은 16 입니다.