<a href="https://colab.research.google.com/github/jym1028z/aipython/blob/main/250919.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 기초문법(I)

In [ ]:
# 변수: 식별자, 값을 저장하는 공간
age = 20 # age: 변수 / =: 연산자 / 20: 값

예시: name 변수에 '홍길동'을 대입하고 age 변수에 18을 대입한 후 출력하는 프로그램.

In [2]:
# name 변수에 '홍길동'을 대입하고 age 변수에 18을 대입한 후 출력 - 주석
name = '홍길동'
age = 18

print(name, age)

홍길동 18

In [3]:
name

'홍길동'

In [4]:
age

18

In [5]:
print(name)
print(age)

홍길동
18

예시: c 에 7을 대입하고, 이 식의 값인 7을 b 에 대입하며, 마지막으로 7을 a 에 대입하여 a , b , c 모두
에 7이 저장되도록 할 수 있습니다.

In [49]:
c = 10
b = c
a = b

print(a, b, c)

10 10 10

예시: a 값에 7을 더한 값을 다시 a 에 대입하는 문장 ( a = a + 7 )은 += 기호를 이용하여 a += 7 과 같
이 나타낼 수 있습니다.

In [38]:
a = a + 10
a += 10
a

30

In [45]:
a-=10
a

-40

# ** 변수 이름의 규칙** - 시험 자주 출제

In [ ]:
# 키워드는 변수명(식별자)로 사용 불가
# 첫 번째 글자는 문자 또는 밑줄( _ )이어야 하고, 나머지 글자는 문자, 숫자, 밑줄( _ )
# 영문 대문자와 영문 소문자는 구분

a 의 값인 7과 b 의 값인 11을 교환하는 프로그램

In [50]:
a = 7
b = 11
c = a

print(a,b)

a = b
b = c

print(a,b)

7 11
11 7

복합 대입 연산자 += 기호를 이용해서 3의 배수 중 처음 네 개를 구하는 프로그램

In [52]:
# Initialize a variable to store the current multiple of 3
multiple_of_3 = 0

# Use a loop to find the first four multiples
print("First four multiples of 3:")
for _ in range(5):
  multiple_of_3 += 3
  print(multiple_of_3)

First four multiples of 3:
3
6
9
12
15

In [57]:
print(type(a))

print(type(name))

<class 'int'>
<class 'str'>

In [58]:
flag=True
type(flag)

bool

a 에 10진수 20을, b 에 8진수 34를, c 에 16진수 A1을, d 에 2진수 1110을 저장한 후 출력하는 프로
그램.

In [65]:
# 계산기 프로그래머 모드로 확인
a=20
b=0O34
c=0xA1
d=0b1110

a,b,c,d

(20, 28, 161, 14)

10 > 20은 거짓이므로 변수 a 에 False를 저장한 다음 출력하는 프로그램.

In [69]:
a=10>20

In [70]:
a

False

In [71]:
type(a)

bool

문자열 'Python'을 변수 a 에 저장한 후 출력하는 프로그램.

In [72]:
a='Python'

In [73]:
a

'Python'

예시: + 연산자를 이용해서 두 개의 문자열 'Hi! '와 'Python'을 연결해서 출력하는 프로그램.

In [75]:
a='Hi'
b='Python'
a+b

'HiPython'

In [84]:
a=10
b='10'
c=str(a)+b # a를 문자형으로 자료형을 바꿈
c

'1010'

In [85]:
a=10
b='10'
c=a+int(b) # b를 정수형으로 자료형을 바꿈
c

20

In [82]:
a=10
b='10'
c=a+float(b) # b를 부동소수형으로 자료형을 바꿈
c

20.0

2.3 입력과 출력

 예시: 사용자로부터 이름을 입력받아 name 에 저장하고 나이를 입력받아 age 에 저장하여 출력하는 프로그램.

In [101]:
name=input("이름을 임력해 주세요.") # 입력 받은 데이터는 문자열 형식으로 저장되므로 주의! ! ! ! !
age=int(input("나이를 입력해 주세요.")) # 나이 데이터를 받을 때 int로 변환

print(name, age)

이름을 임력해 주세요.정유민
나이를 입력해 주세요.18
정유민 18

In [102]:
type(age)

int

In [103]:
age+=2
age

20

예시: 사용자로부터 두 정수값을 입력받아 뺄셈을 하는 프로그램

In [104]:
int1=int(input('정수 1을 입력해주세요'))
int2=int(input('정수 2를 입력해주세요'))
result=int1-int2
print('두 정수의 차 :',result)

정수 1을 입력해주세요9
정수 2를 입력해주세요5
두 정수의 차 : 4

In [110]:
a=1
b=2
print(a)
print() # 빈 줄 출력
print(b) # 다음 줄로 출력

1

2

In [109]:
a=1
b=2
print(a,end=' ') # 다음 줄로 넘어가는 대신 공백이 출력됨 (다음 값이 붙어서 나옴)
print(b)

1 2

### f-string

f-string 또는 형식화된 문자열 리터럴은 문자열 안에 표현식을 삽입하는 더 읽기 쉬운 방법을 제공합니다. 문자열 리터럴 앞에 'f' 또는 'F'를 붙여 만듭니다. 그런 다음 문자열 내의 중괄호 `{}` 안에 표현식을 넣을 수 있습니다.

In [111]:
name = "Alice"
age = 30

# 변수를 삽입하기 위해 f-string 사용
greeting = f"안녕하세요, 제 이름은 {name}이고 {age}살입니다."
print(greeting)

# 중괄호 안에 표현식을 포함할 수도 있습니다.
print(f"2년 후에는 {age + 2}살이 될 것입니다.")

안녕하세요, 제 이름은 Alice이고 30살입니다.
2년 후에는 32살이 될 것입니다.

In [120]:
a = 3.141592

# f-string을 사용하여 소수점 이하 두 자리까지 출력
print(f"소수점 두 자리까지: {a:.2f}")

소수점 두 자리까지: 3.14

원의 반지름을 입력받아 원의 넓이를 구하는 프로그램.

In [124]:
r=float(input("원의 반지름을 입력해 주세요: "))
result=3.14*r**2
print(f'원의 넓이는 {result:.2f}입니다')

원의 반지름을 입력해 주세요: 55
원의 넓이는 9498.50입니다